/*
Variables
*/
/*
Mixins
*/
/*Main CSS*/
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  background: #eaedee;
  display: flex;
  flex-flow: row wrap;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-variants: common-ligatures;
  font-feature-settings: "kern", "liga";
  font-size: 16px;
  font-size: 1em;
  line-height: 1.5;
  overflow-x: hidden;
  margin: 0 auto; }
  @media (min-width: 48em) {
    body {
      flex-flow: row wrap; } }
  @media (min-width: 80em) {
    body {
      justify-content: space-between; } }

h1, h2, h3 {
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600; }

a, a:visited {
  text-decoration: none;
  color: #005184;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  transition: color 200ms ease-in; }
  a:hover, a:visited:hover {
    color: #001f37; }

.header {
  color: #fff;
  background-color: #001f37;
  max-width: 100vw;
  width: 100vw; }
  .header h1 {
    transition: all 300ms ease-in;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 1.5em; }
    .header h1:hover {
      border-bottom: 2px solid #005184; }

.header__grid-container {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 100%; }

.header__button-container {
  display: flex;
  height: 100%; }

.header__button {
  display: flex;
  appearance: none;
  border: none;
  background-color: #001f37;
  border-left: 2px solid #fff;
  width: 6em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 300ms linear; }
  .header__button:hover {
    background-color: #fff; }
    .header__button:hover svg g {
      stroke: #001f37; }

.header__button--profile {
  border-right: 2px solid #fff;
  max-width: 4.375em; }

.overview {
  display: flex;
  flex-flow: column nowrap;
  max-width: 90vw;
  margin: 0 auto; }
  @media (min-width: 48em) {
    .overview {
      flex-flow: row wrap; }
      .overview > section {
        max-width: 42.5vw; }
      .overview > :first-child, .overview > :nth-child(2n+5) {
        margin-right: 5vw; } }
  @media (min-width: 80em) {
    .overview {
      max-width: 65vw;
      flex-flow: row wrap; }
      .overview > section {
        max-width: 30vw; } }

.excerpt {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 1em auto;
  background-color: #fff;
  padding: 0 1em 1em 1em;
  width: 100%;
  box-shadow: 0 2px 0 0 rgba(7, 7, 33, 0.15); }
  @media (min-width: 48em) {
    .excerpt {
      margin: 2.2em auto;
      min-height: 18em; } }
  @media (min-width: 80em) {
    .excerpt {
      min-height: 14.625em; } }

.excerpt__read-more, .excerpt__trending {
  margin-top: 0; }

.read-more__title, .trending__title {
  margin: 1.25em auto; }

.excerpt__read-more {
  margin-bottom: 0; }

.excerpt__title {
  margin: 0;
  padding-top: 1em; }

.excerpt__leader {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }

.excerpt__metadata {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.excerpt__progress {
  padding: 0;
  margin: 0;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600; }

.pointed-button {
  appearance: none;
  color: #fff;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  align-self: center;
  margin-right: calc(-1em - 1px);
  width: 0;
  height: 0;
  border-left: 1.25em solid transparent;
  border-bottom: 2em solid #f6861f;
  border-right: 5em solid #f6861f;
  text-decoration: none;
  transition: all 300ms linear; }
  .pointed-button > span {
    vertical-align: middle;
    margin-left: 0.8em; }
  .pointed-button:hover {
    border-bottom: 2em solid #c16008;
    border-right: 5em solid #c16008; }

.pointed-button__text {
  position: relative;
  top: 0.15em;
  left: 1em;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600; }

.sorting button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  width: 100%;
  cursor: pointer;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 1em;
  background-color: #fff;
  color: #001f37;
  border-radius: 0;
  padding: 1em 0;
  margin: 0.25em 0;
  text-align: center;
  transition: all 300ms linear; }
  @media all and (min-width: 35em) {
    .sorting button {
      width: 47.5%; } }
  @media (min-width: 80em) {
    .sorting button {
      width: 100%; } }
  .sorting button span {
    display: inline-block;
    border-left: 2px solid #001f37;
    border-bottom: 2px solid #001f37;
    padding: 0;
    margin: 0 -100% 0 1.5em;
    float: left;
    width: 1em;
    height: 1em;
    transform: rotate(-135deg); }
  .sorting button .caret-rotate {
    border-left: 2px solid #fff;
    border-bottom: 0;
    border-top: 2px solid #fff; }
  .sorting button:focus {
    outline: none; }
  .sorting button:hover {
    background-color: #001f37;
    color: #fff; }
    .sorting button:hover span {
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff; }

.sorting__small-screen {
  margin-top: 1em;
  margin-bottom: 1em; }
  @media all and (min-width: 35em) {
    .sorting__small-screen {
      display: flex;
      justify-content: space-between; } }
  @media (min-width: 48em) {
    .sorting__small-screen {
      width: 90vw; }
      .sorting__small-screen:nth-child(3) {
        margin-bottom: 2em; } }

.sort-option__list, .extra-option__list {
  display: none;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #000; }
  .sort-option__list label, .extra-option__list label {
    display: block;
    width: 60%;
    background-color: #f9f9f9;
    padding: 0.75em;
    cursor: pointer;
    border-bottom: 1px solid #fff; }
    .sort-option__list label:nth-child(odd), .extra-option__list label:nth-child(odd) {
      background-color: #eee; }
    .sort-option__list label input[type="radio"], .extra-option__list label input[type="radio"] {
      margin: 0 2em 0 1em; }
    .sort-option__list label:hover, .extra-option__list label:hover {
      background-color: #001f37;
      color: #fff; }

.hide-option__list {
  display: block; }

@media (min-width: 80em) {
  main .sorting {
    display: none; } }

@media (min-width: 80em) {
  aside .sorting {
    margin-top: 5.8em; } }

.desktop__sorting {
  display: none; }
  @media (min-width: 80em) {
    .desktop__sorting {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      width: 20vw;
      margin: 0; }
      .desktop__sorting .sorting .sorting__button, .desktop__sorting .sorting .sorting__button--extra {
        border-left: 0; }
      .desktop__sorting .sorting .sort-option__list label, .desktop__sorting .sorting .extra-option__list label {
        width: 100%;
        margin: -1px 0 0 -1px;
        border: 1px solid #005184; } }

.sort-based__title {
  width: 100vw;
  font-size: 1.5em; }
  @media (min-width: 48em) {
    .sort-based__title {
      margin: 0 auto; } }

.story {
  max-width: 90vw;
  margin: 0 auto;
  margin: 0 auto; }

.story__container {
  max-width: 35em; }

.story__title {
  font-size: 2em;
  margin-bottom: 0em; }

.story__meta {
  font-size: 0.8em; }

.story__heading {
  font-weight: 600; }

.story__body {
  line-height: 1.75;
  margin-bottom: 1.5em; }

.story__thought:before {
  content: "- "; }

.story__thought {
  font-style: italic; }

.story__thought:after {
  content: " -"; }

.story__image {
  margin: 1.5em; }

.image--right {
  float: right;
  margin-right: 0; }

.story__quote--cite {
  background-color: #001f37;
  color: #fff;
  padding: 1em;
  font-style: italic;
  margin: 1em 0;
  margin-top: -0.5em;
  float: left; }
  @media (min-width: 48em) {
    .story__quote--cite {
      max-width: 50%;
      margin-right: 1em; } }

.story__blockquote {
  font-size: 1.25em;
  margin: 0;
  padding: 0; }

.story__blockquote--cite {
  font-size: 1em;
  font-style: normal; }
  .story__blockquote--cite:before {
    content: "- "; }

.login-form {
  max-width: 90vw;
  margin: 0 auto; }

form {
  display: block;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
  @media (min-width: 48em) {
    form {
      width: 35em; } }

form fieldset {
  border: none; }

form fieldset label {
  display: block;
  margin: 1em auto; }

form fieldset label input {
  display: block;
  max-width: 100%;
  padding: 0.85em;
  width: 100%;
  border: 0;
  margin: 0.5em auto;
  font-size: 1em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: 1px; }
  form fieldset label input:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #005184; }

fieldset h1 + p {
  font-size: 1em;
  font-weight: 600; }

form label ~ input {
  appearance: none;
  border: none;
  padding: 0.75em 2em;
  margin: 1em auto;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  background-color: #f6861f;
  transition: all 300ms linear; }
  form label ~ input:hover {
    background-color: #c16008; }

form a {
  display: block;
  font-size: 0.85em; }

form input[type="submit"] ~ a {
  display: inline-block;
  float: right;
  padding: 0.5em 2em;
  margin: 1em auto;
  font-size: 1em;
  font-weight: 600;
  color: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  transition: all 300ms linear; }
  form input[type="submit"] ~ a:hover {
    background-color: #c16008;
    color: #fff; }

.login-alert {
  color: red !important; }

/*# sourceMappingURL=main.css.map */
