/*
Variables
*/
/*
Mixins
*/
/*Main CSS*/
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  background: #eaedee;
  display: flex;
  flex-flow: row wrap;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-variants: common-ligatures;
  font-feature-settings: "kern", "liga";
  font-size: 16px;
  font-size: 1em;
  line-height: 1.5;
  overflow-x: hidden;
  margin: 0 auto; }
  @media (min-width: 48em) {
    body {
      flex-flow: row wrap; } }
  @media (min-width: 80em) {
    body {
      justify-content: space-between; } }

h1, h2, h3 {
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600; }

a, a:visited {
  text-decoration: none;
  color: #005184;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  transition: color 200ms ease-in; }
  a:hover, a:visited:hover {
    color: #001f37; }

.header {
  color: #fff;
  background-color: #001f37;
  max-width: 100vw;
  width: 100vw;
  height: 4.35em; }
  .header h1 {
    transition: all 300ms ease-in;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 1.5em; }
    .header h1:hover {
      border-bottom: 2px solid #005184; }

.header__grid-container {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 100%; }

.header__button-container {
  display: flex;
  height: 100%;
  width: 10em;
  justify-content: flex-end; }

.header__button {
  display: flex;
  background-color: #001f37;
  border-left: 2px solid #fff;
  padding: 0 1.5em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 300ms linear; }
  .header__button:hover {
    background-color: #fff; }
    .header__button:hover svg g {
      stroke: #001f37; }

.header__button--search {
  appearance: none;
  border: none;
  border-left: 2px solid #fff;
  min-width: 50%; }

.header__button--profile {
  border-right: 2px solid #fff;
  min-width: 50%; }

.search-bar, .search-button {
  appearance: none;
  border: 1px solid #005184;
  background: #fff;
  position: relative; }

.search-bar {
  padding: 1em; }

.search-button {
  padding: 0.5em; }
  .search-button svg g {
    stroke: #005184; }

.search__field {
  display: none; }

.searching .header__link, .searching .header__button--profile {
  display: none; }
.searching .header__button-container {
  justify-content: flex-start; }
.searching .header__button--search {
  border-right: 1px solid #fff; }
.searching .search__field {
  display: flex; }
.searching .search-bar {
  height: 4.5em;
  width: 40vw;
  margin: 0; }

.overview {
  display: flex;
  flex-flow: column nowrap;
  max-width: 90vw;
  margin: 0 auto; }
  @media (min-width: 48em) {
    .overview {
      flex-flow: row wrap; }
      .overview > section {
        max-width: 42.5vw; }
      .overview > :first-child, .overview > :nth-child(2n+5) {
        margin-right: 5vw; } }
  @media (min-width: 80em) {
    .overview {
      max-width: 65vw;
      flex-flow: row wrap; }
      .overview > section {
        max-width: 30vw; } }

.excerpt {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 1em auto;
  background-color: #fff;
  padding: 0 1em 1em 1em;
  width: 100%;
  box-shadow: 0 2px 0 0 rgba(7, 7, 33, 0.15); }
  @media (min-width: 48em) {
    .excerpt {
      margin: 2.2em auto;
      min-height: 18em; } }
  @media (min-width: 80em) {
    .excerpt {
      min-height: 14.625em; } }

.excerpt__read-more, .excerpt__trending {
  margin-top: 0; }

.read-more__title, .trending__title {
  margin: 1.25em auto; }

.excerpt__read-more {
  margin-bottom: 0; }

.excerpt__title {
  margin: 0;
  padding-top: 1em;
  font-size: 1.25em; }

.excerpt__leader {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }

.excerpt__metadata {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.excerpt__progress {
  padding: 0;
  margin: 0;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600; }

.pointed-button {
  appearance: none;
  color: #fff;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  align-self: center;
  margin-right: -1em;
  width: 0;
  height: 0;
  border-left: 1.25em solid transparent;
  border-bottom: 2em solid #f6861f;
  border-right: 5em solid #f6861f;
  text-decoration: none;
  transition: all 300ms linear; }
  .pointed-button > span {
    vertical-align: middle;
    margin-left: 0.8em; }
  .pointed-button:hover {
    border-bottom: 2em solid #c16008;
    border-right: 5em solid #c16008; }

.pointed-button__text {
  position: relative;
  top: 0.15em;
  left: 1em;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600; }

.sorting__small-screen {
  margin: 1em auto;
  width: 90vw; }
  @media (min-width: 48em) {
    .sorting__small-screen {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 90vw; }
      .sorting__small-screen:nth-child(3) {
        margin-bottom: 2em; } }
  @media (min-width: 80em) {
    .sorting__small-screen {
      display: none; } }

.sort-based__title {
  width: 100vw;
  font-size: 1.5em; }
  @media (min-width: 48em) {
    .sort-based__title {
      margin: 0 auto; } }

input[type="checkbox"] {
  display: none; }

.accordion + div {
  display: none;
  margin: 0;
  padding: 0;
  height: 0; }

.sliderCheckbox:checked + .accordion + div {
  display: inline-block;
  width: 100%;
  margin: 0;
  border: 1px solid #000;
  border-top: none; }
  @media (min-width: 48em) {
    .sliderCheckbox:checked + .accordion + div {
      width: 42.5vw; } }
  @media (min-width: 80em) {
    .sliderCheckbox:checked + .accordion + div {
      width: 100%; } }

.accordion + div label {
  display: block;
  background-color: #f9f9f9;
  padding: 1em;
  cursor: pointer; }
  .accordion + div label:nth-child(odd) {
    background-color: #eee; }
  .accordion + div label input[type="radio"] {
    margin: 0 2em 0 1em; }
  .accordion + div label:hover {
    background-color: #005184;
    color: #fff; }

.caret {
  display: inline-block;
  border-left: 4px solid #005184;
  border-bottom: 4px solid #005184;
  padding: 0;
  margin: 0;
  margin-left: -1em;
  float: left;
  width: 1em;
  height: 1em;
  transition: all 200ms ease-out;
  transform: rotate(-135deg) translateY(-30%); }

.sliderCheckbox:checked + .accordion .caret {
  transform: rotate(-45deg); }

.accordion:hover .caret {
  border-color: #fff; }

.accordion {
  display: block;
  padding: 1em 3em;
  margin: 1.5em auto;
  margin-bottom: 0;
  width: 90vw;
  background-color: #fff;
  color: #005184;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer; }
  .accordion:hover {
    background-color: #005184;
    color: #fff; }
  @media (min-width: 48em) {
    .accordion {
      width: 42.5vw;
      margin: 0; } }
  @media (min-width: 80em) {
    .accordion {
      width: 20vw; } }

@media (min-width: 80em) {
  aside .sorting {
    margin-top: 6em; } }

.desktop__sorting {
  display: none; }
  @media (min-width: 80em) {
    .desktop__sorting {
      display: flex;
      flex-flow: column nowrap;
      width: 20vw;
      margin: 0; }
      .desktop__sorting .accordion div {
        border-left: 0; }
      .desktop__sorting label[for=sliderToggle2] {
        border-top: 1px solid #eaedee; }
      .desktop__sorting .accordion div {
        width: 100%;
        margin: -1px 0 0 -1px;
        border: 1px solid #005184; } }

.story {
  max-width: 90vw;
  margin: 0 auto;
  margin: 0 auto; }

.story__container {
  max-width: 35em; }

.story__title {
  font-size: 2em;
  margin-bottom: 0em; }

.story__meta {
  font-size: 0.8em; }

.story__body {
  line-height: 1.75;
  margin-bottom: 1.5em; }

.login-form {
  max-width: 90vw;
  margin: 0 auto; }

form {
  display: block;
  font-family: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
  @media (min-width: 48em) {
    form {
      width: 35em; } }

form fieldset {
  border: none; }

form fieldset label {
  display: block;
  margin: 1em auto; }

form fieldset label input {
  display: block;
  max-width: 100%;
  padding: 0.85em;
  width: 100%;
  border: 0;
  margin: 0.5em auto;
  font-size: 1em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: 1px; }
  form fieldset label input:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #005184; }

fieldset h1 + p {
  font-size: 1em;
  font-weight: 600; }

form label ~ input {
  appearance: none;
  border: none;
  padding: 0.75em 2em;
  margin: 1em auto;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  background-color: #f6861f;
  transition: all 300ms linear; }
  form label ~ input:hover {
    background-color: #c16008; }

form a {
  display: block;
  font-size: 0.85em; }

form input[type="submit"] ~ a {
  display: inline-block;
  float: right;
  padding: 0.5em 2em;
  margin: 1em auto;
  font-size: 1em;
  font-weight: 600;
  color: "Signika", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  transition: all 300ms linear; }
  form input[type="submit"] ~ a:hover {
    background-color: #c16008;
    color: #fff; }

.login-alert {
  color: red !important; }

.nightmode {
  background-color: #333;
  color: #ededed; }
  .nightmode .excerpt {
    background-color: #333;
    border: 1px solid #f9f9f9;
    box-shadow: 0 2px 0 0 #f9f9f9; }
  .nightmode .excerpt__story-link {
    color: #18a6ff; }
    .nightmode .excerpt__story-link:hover {
      color: #65c3ff; }
  .nightmode .accordion + div label {
    color: #333; }
    .nightmode .accordion + div label:hover {
      color: #fff; }
  .nightmode .accordion:hover .caret {
    border-color: #fff; }
  .nightmode .caret {
    border-color: #fff; }
  .nightmode .accordion {
    background-color: #005184;
    color: #fff; }
    .nightmode .accordion:hover {
      background-color: #001f37;
      color: #fff; }
  .nightmode label[for=sliderToggle2] {
    border-top: 1px solid #333; }

/*# sourceMappingURL=main.css.map */
